/*Estilos da página index.html*/

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color:#55bdbd;
    margin: 0;
    padding: 15px;
    border-radius: 50px;
}

.center{
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #64c3cf;
}

.center1{
    text-align:left;
    font-size: 40px;
    color: #009191;
}

.may{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
}

.alinha1{
    padding:30px;
    font-size: 35px;
}

.alinha2{
    text-align: center;
}

.alinha3{
    color: #e6e6e6;
   font-size: 20px;
   background-color:#060058d3;
   border-radius: 10px;
   text-align: right;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 10px;
}

.alinha4{
    text-align:right;
    font-size: 40px;
    color: #beebeb;
}

#links li{
    display: inline;
    padding: 8px;
}

#links li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

#links li a:hover{
    color: #37009c;
}

.imagem{
    padding: 90px;
}

.titulo{
    font-size: 80px;
}
/*Estilos da página contato.html*/

.alinha5{
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
}

.alinha6{
    padding-top: 0px;
}


#cont{
    color:rgb(121, 121, 121);
    font-size: 10px;
}

.redes{
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #2403b4;
}